<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="VVConnection" connectionString="Data Source=GANAPATHY-PC\SQLEXPRESS;Initial Catalog=VVIMIS; Connect Timeout=120;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ExcelSavaPath" value="F:\EmailExcel\" />
    <add key="ErrorLog" value="F:\ErrorLog_Win_Service" />
    <!-- SMTP Configuration -->
    <add key="NetworkCredentials" value="mailer@vvimis.com,velan@123"/>
    <add key="FromAddress" value="mailer@vvimis.com"/>
    <add key="EmailPort" value="3535"/>
    <add key="HostName" value="smtpout.asia.secureserver.net"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>